mixin BlogPost
  +Section.py-5
    .row 
      .col-12.py-3
        +Background({image: `${CWD}assets/img/gallery/blog-post.png`, attrs: { style: { 'background-position': 'top center', 'background-size': 'contain',} }, className: 'bg-size' })
        h1.text-center RECENT BLOGPOSTS