mixin EyeCare
  section.bg-secondary
    +Background({image: `${CWD}assets/img/gallery/bg-eye-care.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'contain',} }, className: 'bg-size' })
    .container
      .row.align-items-center
        .col-md-6
          img.rounded-3(src=`${CWD}assets/img/gallery/eye-care.jpg` width="470"  alt='...')
        .col-md-6.text-center.text-md-start
          h2.fw-bold.text-light.mb-4 Eye Care with Top Professionals
            br
            | and In Budget.
          p.text-light We've built a healthcare system that puts your needs first.
            br 
            |For us, there is nothing more important than the health of 
            br
            |you and your loved ones.  
          .py-3
            button.btn.btn-lg.btn-light.rounded-pill(type='submit') Learn more 
          